<!Doctype HTML>
<html lang="en-US">
<head>
  <title>SRW: cars</title>

  <!--Icon next to page title-->
  <link rel="icon" type="image/png" href="personallogo.PNG" />
  <link rel="stylesheet" type="text/css" href="shaneryanwilliamson.css">
</head>

<body>

<div id='intro'>
  <p>
    I love cars.
  </p>
</div>
<div>
  <table class="tableofpics">
    <thead>
    <th colspan="2">2012 Dark Metalic Grey Subaru Impreza WRX Sti Limited</th>
    </thead>
    <tbody>
    <tr>
      <td>
        <img src="./images/sti6.JPG" class="img_med">
      </td>
      <td>
        <img src="./images/sti5.JPG" class="img_med">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <p>Installed some RokBlokz mudflaps over a long weekend, hated them, and took them back off.<br>There's just nothing like wasting 8 hours.</p>
      </td>
    </tr>
    <tr>
      <td>
        <img src="./images/sti4.JPG" class="img_med">
      </td>
      <td>
        <img src="./images/sti3.JPG" class="img_med">
      </td>
    </tr>
    <tr>
      <td>
        Damn she looks good in the snow.
      </td>
      <td>
        I'm considering removing the wing... thoughts?
      </td>
    </tr>
    <tr>
      <td>
        <img src="./images/sti2.JPG" class="img_med">
      </td>
      <td>
        <img src="./images/sti1.JPG" class="img_med">
      </td>
    </tr>
    </tbody>
  </table>
</div>
<p>
  &nbsp
</p>
<p>
  &nbsp
</p>

<!-- Site Navigation -->
<p>
<div id='footer'>
  <a href="home.html">
    thoughts
  </a>
  |
  <a href="interests.html">
    interests
  </a>
  |
  <a href="photos.html">
    photos
  </a>
  |
  <a href="code.html">
    code
  </a>
  |
  <a href="info.html">
    info
  </a>
</div>
</p>
</body>