<div id="intro">
  <p>
    This my shit.
  </p>
</div>
<div id="med_list">
  <p>
  <ul>
    <li>
      <%= link_to 'books', static_pages_books_path %>
    </li>
    <li>
      <%= link_to 'music', static_pages_music_path %>
    </li>
    <li>
      <%= link_to 'cars', static_pages_cars_path %>
    </li>
  </ul>
  </p>
</div>