<div id='intro'>
  <p>
    Music is like music to my ears.
  </p>
</div>
<table id="tableoftext">
  <tbody>
  <tr>
    <td>
      <p>
        Someday there will be some content here. For now, follow me on
        <%= link_to 'Spotify', 'https://spotify.com', target: '_blank' %>,
        <%= link_to 'SoundCloud', 'https://soundcloud.com/shane-williamson-19', target: '_blank' %>,
        or
        <%= link_to 'HypeMachine', 'http://www.hypem.com/SRWilliamson', target: '_blank' %>.
      </p>
    </td>
  </tr>
  </tbody>
</table>