# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/
tmp/pids/
tmp/sockets/
.idea/.generators
.idea/.rakeTasks
.idea/ShaneRyanWilliamson.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
